/*通用样式*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    color: #333;
}
body{
	background: #f5f5f5;
}
div{
    box-sizing: border-box;
}
h1{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
p{
	word-break: break-all;
	font-size: 14px;
}
a{
    text-decoration: none;
    color: #333;
}
li,dd{
    list-style: none;
}
button:focus {outline:none;}
.btn{
    background: #2d60e0;
    color: #fff;
    border:none;
    cursor: pointer;
}
.btn:hover{
    background: #2d60e0;
}
.btn_important{
    height: 34px;
    background: #3568e9;
    color: #fff;
    text-align: center;
    line-height: 34px;
    border-radius: 5px;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
}
.btn_important:hover{
    background: #2d60e0;
    color: #fff;
}
.btn_important:visited{
    color: #fff;
}
.btn_normal{
    height: 34px;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 34px;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}
.btn_normal:hover{
    background: #f5f5f5;
}
.txt{
    border:1px solid #ddd;
    padding-left:20px;
    color: #666;
    box-sizing: border-box;
}
.nav_logo{
    margin: 0 20px;
    line-height: 50px;
}
.nav_logo img{
    height: 30px;
    vertical-align: -8px;
    margin-right: 3px;
}
.nav_logo h1{
    color: #fb6b25;
    display: inline-block;
}
#divDemo{
    width: 100%;
}
#divDemo .w-e-toolbar{
    display: block;
    overflow: hidden;
}
#divDemo>div>div{
    float: left;
}
.c_txt{
    border:1px solid #eee;
	width: 350px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 3px;
    color: #666;
	outline: none;
}
.c_txt.undo{
	background: #fafafa;
}
.c_btn{
    border:1px solid #aaa;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    background: #fff;
    padding: 0 20px;
    cursor: pointer;
}
.c_btn:hover{
    background: #bbb;
}
.c_btn_imp{
    background: #fb6b25;
    color: #fff;
    border: 1px solid #ec5f1b;
}
.c_btn_imp:hover{
    background: #ec5f1b;
}
a.c_btn:visited{
    color: #666;
}
a.c_btn_imp:visited{
    color: #fff;
}
.add_btn{
	border:1px solid #eee;
	display: inline-block;
	width: 38px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	border-radius: 3px;
	color: #666;
	outline: none;
	cursor: pointer;
	margin-left: 10px;
}
.add_btn:hover{
	background: #f5f5f5;
}

/*nav*/
.nav{
	width: 100%;
	height: 50px;
	background: #333333;
}
.container{
	width:1002px;
	margin:0 auto;
	overflow: hidden;
}
.nav h1{
	color: #3568e9;
	line-height: 50px;
	font-size: 30px;
	float: left;
}
.nav_menu{
	float: left;
	margin-left: 100px;
}
.nav_menu li{
	float: left;
}
.nav_menu li a{
	color: #fff;
	display: block;
	line-height: 50px;
	padding: 0 20px;
}
.nav_menu li a:hover{
	color: #3568e9;
}
.nav_menu li a.on{
	background: #3568e9;
	color: #fff;
}
.nav .login{
	float: right;
}
.nav .login a,#user_login{
	color: #fff;
	line-height: 50px;
}
.nav .login a:hover{
	color: #3568e9;
}
.login_frame{
	width: 362px;
	margin: 80px auto;
}
.login_frame h1{
	text-align: center;
}
.login_frame li{
	margin-bottom: 30px;
}
.login_frame button.btn_important{
	width: 360px;
}
/*main*/
.main{
	background: #fff;
	border:1px solid #e1e1e1;
	margin-top: 50px;
}
#node_list h2,#branch_list h2{
	font-size: 20px;
	margin: 0 0 20px 0;
}
.node_list li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dotted #e1e1e1;
	overflow: hidden;
}
.node_list span{
	display: inline-block;
	width: 25%;
	padding: 0 20px ;
	float: left;
	box-sizing: border-box;
}
/*my*/
.my_menu{
	width: 20%;
	float: left;
	padding: 50px 0;
}
.my_menu li{
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin-top: -1px;
}
.my_menu li a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.my_menu li a.on{
	color: #3568e9;
}
.my_menu li a:hover,.my_menu li a.on{
	background: #fafafa;
}
.my_miner{
	width: 80%;
	float: left;
	border-left: 1px solid #e1e1e1;
	box-sizing: border-box;
	padding: 50px;
		min-height: 400px;
}
.my_info{
	width: 100%;
	background: #fafafa;
	border: 1px solid #e1e1e1;
	padding: 10px 20px;
	margin: 0 0 20px 0;
}
.my_info button{
	margin-left: 50px;
}
.modify_info li{
	margin-bottom: 20px;
}
/*mynode*/
.my_node{
	width: 100%;
}
.my_node dt{
	margin-bottom: 10px;
	overflow: hidden;
}
.my_node dt h2{
	float: left;
	width: 50%;
}
.my_node dt button{
	float: right;
}
.my_node dd{
	margin-bottom: 20px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}
.my_node_list{
	overflow: hidden;
}
.my_node_list span{
	display: inline-block;
	width: 233.5px;
	border: 1px solid #e1e1e1;
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
	margin: -1px 0 0 -1px;
}
.my_node_do{
	background: #fafafa;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.my_node_do span{
	cursor: pointer;
}
.my_node_do span:hover{
	color: #999;
}
.my_node_do img{
	width: 18px;
	opacity: 0.7;
	vertical-align: -3px;
	margin-right: 3px;
}
.my_node_do span:hover img{
	opacity: 0.4;
}
.node_modify{
	float: left;
}
.node_delete{
	float: right;
}
/*my_branch*/
.my_branch dt{
	
}
.my_branch dd{
	height: 40px;
	line-height: 40px;
	background: #f5f5f5;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 20px;
}
.my_branch dd span{
	margin-right: 50px;
	float: left;
}
.my_branch dd .delete{
	float: right;
	margin-right: 20px;
	color: #999;
	cursor: pointer;
}
.branch_add{
	height: 40px;
	line-height: 40px;
	background: #f5f5f5;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.branch_add:hover{
	background: #fafafa;
}
.branch_save{
	margin: 50px auto;
}
/* .my_miner,.my_wallet{
	text-align: center;
	float: left;
	width: 50%;
}
.my_miner>div{margin-bottom: 50px;}
.my_wallet{
	height: 400px;
	border-left: 1px solid #e1e1e1;
	background: url(../images/wallet.png) center bottom no-repeat;
} */

.my_trans,.submit_trans_btn{
	padding-left: 100px;
}
.my_trans ul,.my_trans dl{
	margin-bottom: 20px;
}




.bitcoin_search li{
	text-align: center;
}
#search_result,#trans_result,#address_result{
	width: 80%;
	margin: 20px auto;
}
.search_result{
	border:1px solid #e1e1e1;
}
.search_result dt{
	font-size: 20px;
	background: #f5f5f5;
	line-height: 40px;
	padding-left: 20px;
}
.search_result dd{
	line-height: 40px;
	border-top:1px solid #e1e1e1;
	padding-left: 20px;
}
.search_result b{
	margin-right: 10px;
}
.search_menu{
	margin-bottom: 50px;
	background: #f5f5f5;
	overflow: hidden;
}
.search_menu span{
	display: block;
	float: left;
	height: 50px;
	width: 199px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	cursor: pointer;
}
.search_menu span.line{
	border: none;
	margin: 0;
	width: 1px;
	background: #e1e1e1;
}
.search_menu span.on{
	border-bottom: 1px solid #fff;;
	background: #fff;
}
.byuuid,.byaddress,.bymining,.trans_byuuid{
	display: none;
}
.trans_list{
	border:1px solid #e1e1e1;
	border-top:3px solid #e1e1e1;
	width: 90%;
	margin: 20px auto 30px auto;
	text-align: left;
}
.trans_list dd{
	line-height: 40px;
	border-top:1px solid #e1e1e1;
	padding-left: 20px;
}
.trans_list p{
	border-top:1px solid #e1e1e1;
	border-left:1px solid #e1e1e1;
	padding-left: 20px;
}
.trans_list b.s{
	background: #e1e1e1;
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
}
.t_cont{
	text-align: right;
	margin: 20px 50px 30px 0px;
}
.t_title{
	margin: 50px 0;
}


/*弹出框样式*/
#n_popbox{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    display: none;
}
.n_popbox_cont{
    width: 600px;
    height: auto;
    background: #fff;
    border: 1px solid #fff;
	padding-bottom: 40px;
    box-shadow: 0px 20px 150px #333;
    position: relative;
    left: 50%;
    top: 40%;
    margin-left: -320px;
    margin-top: -140px;
    border-radius: 5px;
    text-align: center;
    z-index: 99998;
	white-space: normal;
	word-break: break-all;
}
.n_popbox_msg{
    font-size: 12px;
    margin: 40px auto 20px auto;
    width: 80%;
}
.n_popbox_msg h1{
	color: #F23F40;
}
.n_popbox_msg b{
	color: #333;
}
.n_popbox_msg div{
	color: #999;
}
.n_popbox_msg dl{
	width: 382px;
	margin: 0 auto;
}
.n_popbox_msg dt{
	padding-bottom: 20px;
}
.n_popbox_msg dd{
	height: 37px;
	line-height: 37px;
	margin-bottom: 10px;
	text-align: left;
}
.n_popbox_msg .c_txt{
	width: 260px;
}
.n_popbox_msg font{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}
.n_popbox_msg select{
	border:1px solid #eee;
	width: 272px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	border-radius: 3px;
	color: #666;
	outline: none;
}
.n_popbox_btn{
    display: inline-block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 3px;
    background: #f5f5f5;
    border:1px solid #ccc;
    color: #333;
    margin: 0 40px;
    outline: none;
}
.n_popbox_btn:hover{
    background: #f0f0f0;
}
.n_popbox_btn.btn2{
    background: #428dfc;
    border:1px solid #357fee;
    color: #fff;
}
.n_popbox_btn.btn2:hover{
    background: #357fee;
}
.n_popbox_bg{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99997;
    opacity: 0.5;
}