body {
  min-width: 1200px;
  min-height: 100vh;
  background: #fff;
}
.nav {
  padding: 0 0;
}
.nav ul {
  padding: 0;
}
.fwb {
  font-weight: bold;
}
.db {
  display: block !important;
}
th {
  border-bottom: none !important;
}
.mr25 {
  margin-right: 25px;
}
.tac {
  text-align: center;
}
.dac {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mt-50 {
  margin-top: 100px;
}