.diap {
  display: flex;
  justify-content: space-evenly;
}
.diap button {
  flex: 1;
}
.container {
  width: 100% !important;
  padding: 0 !important;
}
.container .list {
  margin-top: 50px;
}
.tdborder {
  border: 1px solid #ccc;
  line-height: 40px;
}
.table {
  margin-top: 50px;
}
