<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.helloworldblockchain.node.dao.BlockChainBranchDao" >

    <resultMap id="BaseResultMap" type="com.xingkaichun.helloworldblockchain.node.model.BlockchainBranchBlockEntity" >
        <id column="blockHeight" property="blockHeight" jdbcType="INTEGER" />
        <result column="blockHash" property="blockHash" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        blockHeight, blockHash
    </sql>

    <select id="queryAllBlockchainBranchBlock" resultMap="BaseResultMap">
        select * from BlockchainBranch
    </select>

    <delete id="removeAll">
        delete from BlockchainBranch
    </delete>

    <insert id="add" parameterType="com.xingkaichun.helloworldblockchain.node.model.BlockchainBranchBlockEntity">
        INSERT INTO BlockchainBranch (blockHeight, blockHash)
        VALUES (#{blockHeight,jdbcType=INTEGER}, #{blockHash,jdbcType=VARCHAR})
    </insert>
</mapper>