<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingkaichun.helloworldblockchain.node.dao.ConfigurationDao" >

    <resultMap id="BaseResultMap" type="com.xingkaichun.helloworldblockchain.node.model.ConfigurationEntity" >
        <id column="confKey" property="confKey" jdbcType="VARCHAR" />
        <result column="confValue" property="confValue" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        confKey, confValue
    </sql>

    <select id="getConfiguratioValue" resultType="java.lang.String">
        select confValue from Configuration where confKey = #{confKey,jdbcType=VARCHAR}
    </select>

    <insert id="addConfiguration" parameterType="com.xingkaichun.helloworldblockchain.node.model.ConfigurationEntity">
        INSERT INTO Configuration (confKey, confValue)
        VALUES (#{confKey,jdbcType=VARCHAR}, #{confValue,jdbcType=VARCHAR})
    </insert>

    <update id="updateConfiguration" parameterType="com.xingkaichun.helloworldblockchain.node.model.ConfigurationEntity">
        UPDATE Configuration SET
        <trim suffixOverrides=",">
            <if test="confKey != null and confKey != ''">
                confKey = #{confKey,jdbcType=VARCHAR},
            </if>
            <if test="confValue != null and confValue != ''">
                confValue = #{confValue,jdbcType=VARCHAR},
            </if>
        </trim>
        where confKey = #{confKey,jdbcType=VARCHAR}
    </update>
</mapper>